[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
dotenv = "*"
openai = "*"
requests = "*"
google-generativeai = "*"
"google.generativeai" = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
